
.hero {
    padding: 188px 0;
    background-image: url(/images/hero.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1440px;
        margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .block {
        background-image: 
            url(/images/hero@2x.jpg);
    }
}