@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #0f171b;
  --dark-blue: #02194f;
  --blue: #0758b7;
  --light-blue: #039cfc;
  --light: #fcfcf7;
}

:root {
  --font-family: "Raleway", sans-serif;
  --second-family: "Source Sans Pro", sans-serif;
  --third-family: "Merriweather", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
