@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #0f171b;
  --dark-blue: #02194f;
  --blue: #0758b7;
  --light-blue: #039cfc;
  --light: #fcfcf7;
}

:root {
  --font-family: "Raleway", sans-serif;
  --second-family: "Source Sans Pro", sans-serif;
  --third-family: "Merriweather", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0f171b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}