

.container {
    display: flex;
    width: 1272px;
    align-items: center;
    justify-content: flex-start;
    margin: 24px 0;
}

.list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    font-weight: 500;
}

.icon {
    width: 20px;
    height: 20px;
    transform: rotate(270deg);
}